<!DOCTYPE html>
<html>
    <head>
        <title>CaaS - Pranav Hegde</title>
        <link rel="icon" href="./../assets/favicon-16x16.png" type="image/gif" sizes="16x16"> 
        <link rel="stylesheet" href="./../styles/caesar.css">
        <script src="./../util/index.js"></script>
    </head>
    <body>
        <h1>Welcome to the web version of the Caesar cipher API!</h1>

        <a href="/" >CaaS - Home</a>
        <p class="topright"> <img class='toggle' width="50" height="50" src="./../assets/toggle1.jpg" onClick="myFunction()"> </p>

        <form method="POST" action="/api/caesar/e/form">
            <center><b><u>Encryption</u></b></center>
            <label for="message"> Enter your plain text: </label>
            <input type="text" name="message" placeholder="Plain text"></br>
            <label for="key"> Enter your key: </label>
            <input type="number" name="key" default=3 placeholder=3></br>
            <small>*Note: If you don't enter a key, the default value of key will be taken as 3</small><br/>
            <button type="submit" class="button">Encrypt!🔒</button>
        </form>
        <br/>
        <form method="POST" action="/api/caesar/d/form">
            <center><b><u>Decryption</u></b></center>
            <label for="message"> Enter your cipher text: </label>
            <input type="text" name="message" placeholder="Cipher text"></br>
            <label for="key"> Enter your key: </label>
            <input type="number" name="key" default=3 placeholder=3></br>
            <small>*Note: If you don't enter a key, the default value of key will be taken as 3</small><br/>
            <button type="submit" class="button">Decrypt!🔓</button>
        </form>
        By <a href="https://github.com/pranavhegde006"> Pranav Hegde</a>.</br>
    </body>
</html>