<!DOCTYPE html>
<html>
    <head>
        <title>Caesar cipher API</title>
    </head>
    <body>
        <h1>Welcome to Caesar cipher API by Pranav Hegde.</h1>

        <form method="POST" action="/api/caesar/form">
            <label for="message"> Enter your plain text/message: </label>
            <input type="text" name="message" placeholder="Plain text"></br>
            <label for="key"> Enter your key: </label>
            <input type="number" name="key" default=3 placeholder=3></br>
            <small>*Note: If you don't enter a key, the default value of key will be taken as 3</small><br/>
            <button type="submit">Encrypt!</button>
        </form>

    </body>
</html>